* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  border-right: 3px solid rgb(5, 5, 85);
  border-left: 3px solid rgb(5, 5, 85);
}

header,
footer {
  background-color: rgb(5, 5, 85);
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  flex: 1;
  padding: 1rem;
}

.new-goal {
  display: flex;
  align-items: center;
  border: 2px solid rgb(5, 5, 85);
  align-items: center;
  border-radius: 10px;
}

.new-goal input {
  border: 2px solid rgb(5, 5, 85);
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.add-button {
  height: auto;
  background-color: green;
  color: white;
  padding: 1rem;
  font-weight: 800;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(1, 136, 1);
}

.no-goals {
  color: red;
  font-style: italic;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.goals {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.goal,
.goal-editing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.goal p,
.goal-editing input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.goal p {
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.goal-editing input {
  outline: none;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 10px;
}

.save-button,
.edit-button,
.delete-button {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button:hover {
  color: rgb(255, 162, 0);
}

.edit-button:hover {
  color: rgb(255, 0, 221);
}

.delete-button:hover {
  color: red;
}
